.profileIcons {
  /* background-color: #ffe100; */
  /* background-image: url('../public/header.jpg'); */
  background-size: contain;
  border: 1px solid;
  border-color: #000000;
  border-radius: 100px;
}

.profileIcons.lg {
  height: 88px;
  width: 88px;
  
}

.profileIcons.md {
  height: 64px;
  width: 64px;
}

.profileIcons.XS {
  height: 48px;
  width: 48px;
}
