.container {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
 
}

.list {
  justify-content: center;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
  border-top: 1px solid #e0e0e0;

  border-bottom: 1px solid #e0e0e0;
}

.item {
  padding: 12px 24px;
  cursor: pointer;
  position: relative;
}

.item h6 {
  margin: 0;
  font-size: 16px;
  color: #666;
}

/* 活動狀態樣式 */

.item.active{
  background-color: #00ff51;
}
.item.active h6 {
  color: #000;
  font-weight: bold;
}

.item.active::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
}

/* 懸停效果 */
.item:hover h6 {
  color: #000;
}

.content {
  padding: 24px 0;
}
.center{
  text-align: center;
}
@media screen and (max-width: 375px){
  .container{
    width: 90%;
  }
  .list{
    flex-wrap: wrap;
    gap: 0;
    
  }
  .item{
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .item h6{
    font-size: 14px;
    
  }
}