.icons-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons-image {
  /* width: 32px; */
  /* height: 32px; */
  transition: transform 0.3s ease;
}

.icons-image:hover {
  /* transform: scale(1.1); */
}
