.b {
  align-self: stretch;
  position: relative;
}
.div {
  position: absolute;
  top: 0%;
  left: 8.33%;
}
.p {
  width: 96px;
  position: relative;
  height: 35px;
}
.b1 {
  position: relative;
}
.wrapper {
  position: absolute;
  top: calc(50% - 24.5px);
  left: calc(50% - 70px);
  background-color: #000;
  border-right: 3px solid #14ff00;
  border-left: 3px solid #14ff00;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 40px;
}
.p4 {
  width: 96px;
  position: relative;
  height: 35px;
  color: #fff;
}
.body {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 0px 30px;
  gap: 20px;
  font-size: 20px;
}
.s03 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 80px;
  gap: 20px;
}
.b2 {
  width: 170px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.container {
  background-color: #d8dbd8;
  border: 2px solid #000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
}
.frame {
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
}
.orderTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.orderTitleWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 20px;
}
.div8 {
  position: absolute;
  top: 0%;
  left: 0%;
}
.discountStatus {
  width: 64px;
  position: relative;
  height: 23px;
}
.discountStatus1 {
  width: 48px;
  position: relative;
  height: 23px;
}
.discountStatusParent {
  align-self: stretch;
  height: 47px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
  box-sizing: border-box;
}
.parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}
.frameDiv {
  width: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.div12 {
  position: absolute;
  top: 0%;
  left: -25%;
}
.discountStatusWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.frameGroup {
  width: 129px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.frameParent {
  align-self: stretch;
  border-top: 1px dashed #000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 30px;
  gap: 10px;
  text-align: left;
}
.discount {
  width: 600px;
  border: 2px solid #000;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5px 30px;
}
.right {
  width: 960px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
  font-size: 16px;
}
.sectionOrder {
  width: 100%;
  position: relative;
  background: linear-gradient(180deg, #fff 65%, #84ff79 90%, #14ff00);
  height: 736px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 100px;
  box-sizing: border-box;
  gap: 50px;
  text-align: center;
  font-size: 24px;
  color: #000;
  font-family: 'Noto Sans TC';
}

