/* 性別下拉選單的樣式 */
.genderDropdown {
  width: 150px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  background-color: #f9f9f9;
  
}

/* 行政區下拉選單的樣式 */
.regionDropdown {
  width: 150px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  background-color: #f9f9f9;
}


.genderDropdown:hover,
.regionDropdown:hover{
 
    background-color: black; 
    color: var(--basecolor);
  
}