.logo-1{
  /* width: 40px; */
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;  
  white-space: nowrap;
  gap:5px;


}
.logo-2{
  /* width: 60px; */
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;  
  white-space: nowrap;
  gap:5px;


}
.logo-3{
  /* width: 80px; */
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;  
  white-space: nowrap;
  gap:5px;


}
.img{
  height: 100%;
}
.p-1{
  font-family: var(--primary2000-font-family);
  font-size: var(--primary2000-font-size);
  font-style: var(--primary2000-font-style);
  font-weight: var(--primary2000-font-weight);
  letter-spacing: var(--primary2000-letter-spacing);
  line-height: var(--primary2000-line-height);
}
.p-2{
  font-family: var(--primary-200-font-family);
  font-size: var(--primary2000-font-size);
  font-style: var(--primary2000-font-style);
  font-weight: var(--primary2000-font-weight);
  letter-spacing: var(--primary2000-letter-spacing);
  line-height: var(--primary2000-line-height);
}
.p-3{
  font-family: var(--primary-300-font-family);
  font-size: var(--primary-300-font-size);
  font-style: var(--primary-300-font-style);
  font-weight: var(--primary-300-font-weight);
  letter-spacing: var(--primary-300-letter-spacing);
  line-height: var(--primary-300-line-height);
}
