/* Carousel 容器樣式 */
.carousel-container {
  position: relative;
  width: 80vw;
  height: 80%;
  margin: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  overflow: hidden;
  
}
.latestLaunch {
  display: flex;
  align-items: center;
  line-height: 70px;
}

/* items 1 */
.carouselItem {
  width: 200px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 30em;
  margin: auto;
  transition: transform 0.3s ease;
}
.carouselItem:hover {
  transform: scale(1.05);
}
.carouselImage {
  width: 300px;
  height: 300px;
  margin: 0 20px;
}
.carouselContent {
  padding: 5px;
}
.multilineEllipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 4;
  text-overflow: ellipsis;
}

@media (max-width: 375px) {
  .carousel-container{
    margin-top: 300px;
  }
  .carouselItem {
    width: 225px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 30em;
    margin: auto;
    transition: transform 0.3s ease;
  }
}