/* mem-fav.module.css */
.member-fav {
  padding: 20px;
  background-color: #f7f7f7;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.favMain {
  padding: 10px;
}

.mainTitle {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.favInfo {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.favIcon {
  margin-right: 15px;
}

.photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.favName {
  font-size: 18px;
  font-weight: bold;
  color: #555;
}

.favGenre {
  font-size: 16px;
  color: #888;
}

.favAction {
  margin-left: auto;
  cursor: pointer;
}
