.top{
  background-color: aqua;
  height: 80vh;
  position: relative;
  background-size: cover;
  /* background-image: url('../../../../public/03.jpg'); */
}
.title{
  background-color: #fff;
  display: inline-block;
  position: absolute;
  padding: 10px;
  top:70%;
  &:hover{
    background-color: #00ff00;
  }
}
.bottom{
  padding: 10px;
  border: 2px solid black;
  margin-bottom: 30px;
}
.bar{
  width: 200px;
  background-color: rgb(9, 255, 0);
  height: 20px;
  transition: all 2s;
}

@media screen and (max-width: 375px) {
  .top{
    background-color: aqua;
  height:75vh;
  position: relative;
  background-image: url('../../../../public/03.jpg');
  
  }
  .title{
    background-color: #ffffff;
    display: inline-block;
    position: absolute;
    padding: 20px;
    top:60%;
 
  }
  .title h3{
    font-size: 14px;
  }
}